@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.img-Fabio {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.img-potongan {
    position: absolute;
    top: 36%;
    left: 27%; 
    transform: translate(-50%, -50%); 
    width: 40%; 
    max-width: 200px;
}

@media (max-width: 1000px) {
    .img-Hari {
        position: absolute;
        margin-top: -180%;
        margin-left: -5%;  
        width: 120%; 
        max-width: 600px;
        opacity: 0;
    }
}
